.bird-order-container, .bird-estacion-container, .bird-amenaza-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding-bottom: 15rem;
}

.bird-order, .bird-estacion, .bird-amenaza {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fill, minmax(13rem, 1fr)
    );
  gap: 1rem;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 55%;
}

.bird-order-container h1, .bird-estacion-container h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background-color: #8fbf9f;
  box-shadow: inset 0 0 5px #346145;
  border-radius: 15px;
  padding: 1rem;
  animation: slideIn .2s ease-out;
}

.header-amenaza {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.header-amenaza h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  background-color: #8fbf9f;
  box-shadow: inset 0 0 5px #346145;
  border-radius: 15px;
  padding: 1rem;
  animation: slideIn .2s ease-out;
}

.header-amenaza img {
  height: 4rem;
  box-shadow: inset 0 0 5px #c2baa6;
  padding: .85rem;
  border-radius: 15px;
  animation: imgIn .2s ease-out;
}

@keyframes slideIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes imgIn {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 805px) {
  .bird-order-container h1, .bird-estacion-container h1 {
    font-size: 2rem;
  }
  .header-amenaza h1 {
    font-size: 1.5rem;
  }
  .header-amenaza img {
    height: 2.8rem;
  }
}