.card {
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 25rem;
  font-family: 'Montserrat';
  background-color: rgb(133, 28, 28);
  color: rgb(240, 235, 235);
}

.card-image img {
  width: 25rem;
}

.card-body{
  margin-left: 3%;
  margin-right: 3%;
}