.bird-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(10rem, 1fr)
    );
  gap: 1rem;
  margin-top: 2%;
  padding-bottom: 15rem;
  width: 80%;
}

@media (max-width: 500px) {
  .bird-list {
    grid-template-columns: repeat(
    auto-fit, minmax(7rem, 1fr)
    );
  }
}