  .bird-card {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bird-image img {
    display: block;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .bird-name {
    background: linear-gradient(to right, #eb9c64, #ff8789);
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .bird-name h2 {
    font-size: 1rem;
    text-align: center;
    color: #353535;
    font-family: 'Montserrat', sans-serif;
  }