.grid-layout {
  display: grid;
  grid-template-columns: 50% auto;;
  margin: 0 auto;
  margin-top: 5rem;
  width: 80%;
  background-color: #8fbf9f;
}

.box {
  background-color: #ebe2cd;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #c2baa6;
 
}

.box img {
  width: 15rem;
  border-radius: 10px;
}