.bird-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.bird-container {
margin-bottom: 3%;
background-color: rgb(133, 28, 28);
cursor: pointer;
}

.bird-image {
 width: 12rem;
}

.bird-container h2 {
  font-size: .9rem;
  text-align: center;
  color: rgb(240, 235, 235);
  font-family: 'Montserrat';
}