.main-container-detail {
  padding-bottom: 15rem;
}

.navegador-aves {
  margin: 0 auto;
  margin-top: 3rem;
  width: 50rem;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  column-gap: 1rem;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4rem;
  width: 35.5rem;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  justify-items: center;
  align-items: center;
  padding: 0 1rem;
  font-weight: bold;
}

a.link-style {
  position: relative;
  text-decoration: none;
  color: black;
  overflow: hidden;
  font-size: 1.3rem;
}

.link-style::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 50%;
  background: black;
  transition: all 0.2s ease-in-out;
  transform: translateX(-50%);
}

.link-style:hover::after {
  width: 100%;
}

.seen-button {
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  padding: 0.5rem 1rem; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  box-sizing: border-box;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-on-click {
  animation: rotate 0.3s linear;
}

.seen-button button {
  background-color: #ebe2cd;
  border-radius: 15px;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #353535;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.link-style {
  color: #353535;
  font-size: 1rem;
  text-decoration: none;
}

.link-style:visited {
  color: #353535;
}

.link-style:hover {
  color: #353535;
}

.grid-layout {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.75fr 1fr 0.5fr 0.5fr;
  margin: 0 auto;
  margin-top: 3rem;
  width: 50rem;
  row-gap: 1rem;
  column-gap: 1rem;
}


.fade-out {
  animation: fadeout 0.3s ease-in-out;
}

@keyframes fadeout{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.nombre-ave {
  border-radius: 15px;
  background-color: #8fbf9f;
  box-shadow: inset 0 0 5px #346145;
  font-family: "Montserrat", sans-serif;
  grid-column: 1 / 3;
}

.nombre-ave h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #353535;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nombre-ave p {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  color: #353535;
  text-align: left;
  padding-left: 1rem;
}

.imagen {
  grid-column: 3 / 6;
  grid-row: 1 / 3;
}

.imagen img {
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
} 

.info-ave {
  padding-left: 1rem;
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  grid-column: 1 / 3;
}

.info-ave .label {
  font-weight: bold;
  color: #353535;
}

.descripcion-ave {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-family: "Montserrat", sans-serif;
  grid-column: 1 / 6;
}

.envergadura {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-family: "Montserrat", sans-serif;
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.envergadura img {
  width: 30%;
  margin-bottom: 1rem;
}

.envergadura p {
  font-size: 3.5rem;
  font-family: "Handlee", cursive;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 1rem;
  margin-left: .4rem;
  margin-right: .4rem;
}

.alimentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-family: "Montserrat", sans-serif;
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.autor {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-family: "Montserrat", sans-serif;
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}

.autor a {
    margin: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #353535;
    text-align: center;
    padding-top: 1rem;
    text-decoration: none;
}

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebe2cd;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #c2baa6;
  font-family: "Montserrat", sans-serif;
}

.enlaces a {
  font-size: 1rem;
  color: #353535;
  text-align: center;
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* Media querie para 1000px ---------------------- */



/* Media querie para 800px ---------------------- */

@media (max-width: 800px) {

  .navegador-aves {
    margin-top: 1rem;
    width: 68%;
    display: flex;
    justify-content: center;
    padding-left: .8rem;
    margin-left: 7.3rem;
  }
  
  .links-container {
    width: 100%;
    height: 80%;
    gap: 1rem;
  }
  
  a.link-style {
    font-size: .6rem;
  }
  
  .seen-button {
    height: 80%; 
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  
  .seen-button button {
    font-size: .6rem;
  }

  .grid-layout {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    width: 30rem;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .nombre-ave {
    grid-column: 1 ;
    grid-row: 1 / 1;
    width: 30rem;
  }
  
  .nombre-ave h1 {
    font-size: 1.5rem;
  }
  
  .nombre-ave p {
    font-size: 1rem;
  }
  
  .imagen {
    grid-column: 1;
    grid-row: 2 / 2;
  }
  
  .info-ave {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 3 / 3;
  }

  .info-ave p {
    margin: .2rem .3rem .3rem .5rem;
    padding: 0;
    line-height: 1.5rem;
  }
  
  .info-ave .label {
    font-weight: bold;
    color: #353535;
  }
  
  .descripcion-ave {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-column: 1;
    grid-row: 4 / 4;
  }
  
  .envergadura {
    width: 100%;
    display: flex;
    grid-column: 1;
    grid-row: 5 / 5;
  }
  
  .envergadura img {
    width: 30%;
    margin-bottom: 1rem;
  }
  
  .envergadura p {
    font-size: 2.5rem;
  }
  
  .alimentacion {
    font-size: 2.5rem;
    grid-column: 1;
    grid-row: 6 / 6;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .autor {
    grid-column: 1;
    grid-row: 7 / 7;
    text-align: center;
  }
  
  .autor a {
      margin: 1rem;
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  .enlaces {
    grid-column: 1;
    grid-row: 8 / 8;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
}

/* Media querie para 600px ---------------------- */

@media (max-width: 600px) {

  .main-container-detail {
    padding-bottom: 15rem;
    width: 100%;
  }

  .navegador-aves {
    margin-top: 1rem;
    padding-left: 1rem;
    width: 20rem;
    display: flex;
    justify-content: center;
  }

  .grid-layout {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    width: 20rem;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .nombre-ave {
    grid-column: 1 ;
    grid-row: 1 / 1;
    width: 20rem;
  }
  
  .nombre-ave h1 {
    font-size: 1.5rem;
  }
  
  .nombre-ave p {
    font-size: 1rem;
  }
  
  .imagen {
    grid-column: 1;
    grid-row: 2 / 2;
  }
  
  .info-ave {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 3 / 3;
  }

  .info-ave p {
    margin: .2rem .3rem .3rem .5rem;
    padding: 0;
    line-height: 1.5rem;
  }
  
  .info-ave .label {
    font-weight: bold;
    color: #353535;
  }
  
  .descripcion-ave {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-column: 1;
    grid-row: 4 / 4;
  }
  
  .envergadura {
    width: 100%;
    display: flex;
    grid-column: 1;
    grid-row: 5 / 5;
  }
  
  .envergadura img {
    width: 30%;
    margin-bottom: 1rem;
  }
  
  .envergadura p {
    font-size: 2.5rem;
  }
  
  .alimentacion {
    font-size: 2.5rem;
    grid-column: 1;
    grid-row: 6 / 6;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .autor {
    grid-column: 1;
    grid-row: 7 / 7;
    text-align: center;
  }
  
  .autor a {
      margin: 1rem;
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  .enlaces {
    grid-column: 1;
    grid-row: 8 / 8;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}