
.home-container {
  max-width: 50rem;
  margin: 0 auto;
}

.home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  max-width: 90%;
  font-family: 'Montserrat';
  font-size: 1.1rem;
  color: black;
}

.home h2 {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(240, 235, 235);
  background-color: #346145;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

.intro-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.intro-logo img {
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  margin-right: 1rem;
}

.intro-logo p {
  margin-left: .1rem;
}

.main-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-text img {
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.big-text {
  margin-bottom: 12rem;
}

@media (min-width: 750px) {

  .home {
    font-size: 1.8rem;
  }

  .home h2 {
    font-size: 2rem;
  }
 
  .intro-logo img {
    width: 15rem;
    height: 15rem;;
  }

  .intro-logo p {
    margin-left: 1rem;
  }

  .main-text img {
    width: 15rem;
    height: 15rem;
  }

}