.navigator {
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(133, 28, 28);
  max-width: 76rem;
  margin: 0 auto;
}

.sections {
  display: flex;
  flex-direction: row;
}

.sections-list {
  margin-left: 5%;
  display: flex;
  list-style-type: none;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 1.1rem;
  color: rgb(240, 235, 235);
  gap: 5%
}

.sections-list li {
  white-space: nowrap;
  cursor: pointer;
  font-size: .8rem;
}

.searchbar {
  margin-right: 3%;
}

select {
  background: transparent;
  border: none;
  font-family: 'Montserrat';
  font-size: .8rem;
  color: rgb(240, 235, 235);
  cursor: pointer;
  width: 7.2rem;
}

select option {
  background-color: rgb(133, 28, 28);
  border: none;
  font-family: 'Montserrat';
  font-size: .8rem;
  color: rgb(240, 235, 235);
}

.link {
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}
.link:visited {
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1.3rem;
}

.active-link {
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: .8rem;
}