.searchform {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0;
}

.inputbox {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 1rem;
  outline: none; 
}

.search-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .inputbox {
    font-size: .6rem;
  }
}